// メディアクエリ
$breakpoints: (
  "md": "screen and (max-width: 768px)",
  "lg": "screen and (max-width: 960px)",
  "xl": "screen and (max-width: 1140px)",
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


// フォントサイズ
@mixin font-size($size) {
    font-size: calc($size / 16) * 1rem;
}

@mixin title-size($min, $recommendation, $max) {
  font-size: clamp(calc($min /16) * 1rem, $recommendation, calc($max /16) * 1rem);
}