// color
$color-primary: #391E88;
$color-secondary: #120E19;
$color-text: #333333;
$color-btn: linear-gradient(#7633a4 0%, #250d65 100%);
$color-gray: #E8E8E8;

// font
$font-family: "Montserrat", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Arial, "Noto Sans JP", Meiryo, sans-serif;